.col-lg-1-5 {
    width: 20%;
}

.main-prom {
    height: 400px;
    width: 100%;
    background-image: url(../../img/slider.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
}

.main-prom .cat-list {
    height: 400px;
    padding: 20px 0;
    background: rgba(255, 255, 255, 0.1);
}

.main-prom .cat-list a {
    display: block;
    padding: 10px 30px;
    color: #fff;
}

.main-prom .cat-list a:hover {
    background: #ff6700;
}

.sub-prom {
    
}