.col-lg-1-5 {
    width: 20%;
    padding-left: 10px;
}

.card {
    text-align: center;
}

.card .thumb {
    padding: 20px;
}

.card .title {
    font-size: 1rem;
    padding: 5px 3px;
    color: #333;
}

.card .desc {
    font-size: 0.9rem;
    padding: 3px;
    color: #b0b0b0;
    margin-bottom: 20px;
}

.card .price {
    font-size: 1rem;
    color: #ff6700;
}

.card .price .del {
    color: #b0b0b0;
    text-decoration: line-through;
}

.main-prom {
    height: 400px;
    width: 100%;
    background-image: url(../../img/slider.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
}

.main-prom .cat-list {
    height: 400px;
    padding: 20px 0;
    background: rgba(255, 255, 255, 0.1);
}

.main-prom .cat-list a {
    display: block;
    padding: 10px 30px;
    color: #fff;
}

.main-prom .cat-list a:hover {
    background: #ff6700;
}

.sub-prom {
    margin-bottom: 20px;
}

.sub-prom .quick-channel {
    height: 140px;
    background: #5f5750;
    text-align: center;
    color: #ffffffb3;
}

.sub-prom .quick-channel .icon {
    font-size: 1.4rem;
    padding-top: 18px;
}

.sub-prom .quick-channel .row:first-child {
    margin-bottom: 8px;
}

.sub-prom .card {
    padding-left: 10px;
}

.quick-buy .head {
    margin-bottom: 15px;
}

.quick-buy .head .title {
    font-size: 1.4rem;
    color: #333;
}



