@import url(http://weloveiconfonts.com/api/?family=fontawesome);
/* fontawesome */

[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}

* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    font-size: 15px;
}

.container {
    max-width: 740px;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.row {
    display: block;
    font-size: 0;
}

.col-3,
.col-4,
.col-9 {
    display: inline-block;
    font-size: 1rem;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33333333333333%;
}

.col-9 {
    width: 75%;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

h1,
h2 {
    color: #6b4b24;
}

h1,
h2,
ul {
    margin: 0;
}

a {
    text-decoration: none;
    display: inline-block;
    color: #a7a7a7;
}

h2 {
    /* padding-top: 19px; */
    padding-bottom: 8px;
    font-size: 20px;
}

.head {
    min-height: 200px;
    background-image: url(../img/head-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 30px 50px;
}

.head h1 {
    color: #fff;
    padding-top: 4px;
    padding-bottom: 10px;
}

.head .info {
    padding: 80px 0 30px 0;
    color: #a7a7a7;
}

.head .info span {
    display: inline-block;
    padding-right: 10px;
    position: relative;
}

.head .info span:after {
    display: inline-block;
    content: "";
    background: #a7a7a7;
    width: 1px;
    height: 12px;
    position: absolute;
    right: 4px;
    top: 2px;
}

.head .info span:last-child:after {
    display: none;
}

.head .photo img {
    max-height: 150px;
    border: 2px solid #fff;
    display: block;
}

.body {
    padding: 20px 50px;
    border-top: 1px dashed #a7a7a7;
}

.body>* {
    /* padding-top: 10px; */
    padding-bottom: 30px;
    border-left: 1px solid #6b4b24;
}

.body .item .time,
.body .item .where,
.body .item .position {
    color: #333;
}

.body .job,
.body .item .job-duty,
.body .item .introduce,
.body .item .site,
.body .self-assessment .text {
    font-size: 1rem;
    color: #a7a7a7;
}

.body .item {
    padding-bottom: 10px;
}

.body .self-assessment {
    padding-bottom: 20px;
}

.body .item .time,
.body .item .where,
.body .item .position,
.body .job,
.body .item .job-duty,
.body .item .introduce,
.body .item .site,
.body .self-assessment .text {
    padding-top: 5px;
    padding-bottom: 5px;
}

.body .content {
    padding-left: 30px;
}

[class*="fontawesome-"] {
    display: inline-block;
    padding: 7px;
    position: relative;
    right: 17px;
    border-radius: 50%;
    background: #fff;
}