.nav {
    background: #333;
}

.col {
    display: inline-block;
}

.nav .left,
.nav .right {
    width: 50%;
}

.nav a {
    color: #b0b0b0;
    font-size: 70%;
    padding: 10px 5px;
    display: inline-block;
}

.nav a:hover {
    color: #fff;
}