.nav {
    background: #363636;
    padding: 10px;
    margin-bottom: 15px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
}

.nav * {
    vertical-align: middle;
}

.nav img {
    max-width: 400px;
}

.nav a {
    padding: 10px 7px;
    color: #dadada;
        vertical-align: middle;
}

.nav a:hover {
    color: #fff;
}

