.section-cat {
    background: #f5f5f5;
}
.head {
    padding: 10px 5px;
}

.head .left,
.head .right {
    width: 50%;
}

.head .title {
    font-size: 120%;
    color: #555;
}

.options a:hover {
    color: #ff9a7f;
}

.card-group .leader {
    width: 20%;
}

.card-group .others {
    width: 80%;
    text-align: left    
}

.others .row {
    margin-bottom: 1%;
}

.card {
    width: 24%;
    margin-left: 1%;
    background: #fff;
    box-shadow: 1px 0 4px rgba(0, 0, 0, 0.2)
}

.card .text {
    text-align: center;
    padding: 3px;
}

.card .thumb {
    padding: 8px;
}

.card .title {
    font-size: 90%;
    color: #222;
    padding: 3px 8px;
}

.card .desc {
    font-size: 80%;
    padding: 0 7px;
    margin-bottom: 8px;
    color: #777;
}

.card .price {
    color: #ff6700;
    margin-bottom: 10px;
}