.nav {
	padding: 10px;
}

.nav .left {
	width: 30%;
}

.nav .right {
	width: 70%;
}

.nav .logo,
.nav local {
	display: inline-block;
	vertical-align: middle;
}

.nav .logo {
	font-size: 200%;
}


.nav .local {
	padding: 5px;
	background: rgba(0, 0, 0, .1);
	border-radius: 30%;
	font-size: 80%;
}

.nav a {
	padding: 5px 3px;
}

.nav .user {
	margin-bottom: 4px;
	font-size: 80%;
}

.nav .link-group {
	font-size: 110%;
	font-weight: bold;
}