.nav.page {
    margin-bottom: 20px;
}

.nav.page * {
    vertical-align: middle;
}


.nav.page .link-group a {
    color: #333;
    padding: 5px 7px;
}

.search-area {
    font-size: 0;
    text-align: right;
    position: relative;
}

.search-area [type="search"],
.search-area [type="submit"] {
    font-size: 1rem;
    height: 50px;
    vertical-align: top;
}

.search-area [type="submit"] {
    width: 50px;
    background: transparent;
}

.hot-cat {
    font-size: 0.8rem;
    position: absolute;
    top: 18px;
    left: 78px;
}

.hot-cat span {
    display: inline-block;
    padding: 3px;
    background: rgba(0, 0, 0, 0.1);
}