/* .col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    min-height: 30px;
    border: 1px solid black;
} */

/* nav 样式 */

.nav.global {
    background: #333;
    padding: 5px 3px;
}

.nav.global a {
    display: inline-block;
    padding: 5px;
    font-size: 0.9rem;
    color: rgb(176, 176, 176);
}

/* first-screen head 样式 */

.head {
    padding-top: 20px;
    padding-bottom: 20px;
}

.head * {
    vertical-align: middle;
    display: inline-block;
}

#logo {
    height: 50px;
    width: 50px;
    background-image: url(../img/mi-logo.png);
    background-color: #ff6700;
}

.head a {
    color: #333;
    padding: 7px;
}

#search-area {
    font-size: 0;
    position: relative;
}

.search,
.search-submit {
    font-size: 1.2rem;
    padding: 10px;
}

.search {
    outline: 0;
    line-height: 1.1;
}

.search:focus {
    border: 1px solid #ff6700;
}

.search-submit {
    border-left: 0;
}

.rec-list {
    display: inline-block;
    font-size: 0.8rem;
    color: #333;
    /* padding: 3px 5px; */
    position: absolute;
    top: 10px;
    left: 10px;
}

.rec-list>* {
    padding: 3px 5px;
    background: rgba(0, 0, 0, .6);
}

/* first-screen main-promot样式 */

.main-promot {
    margin-bottom: 10px;
    background-image: url(../img/slider001.jpg);
    background-size: cover;
}

.cat-list {
    font-size: 1.1rem;
    padding: 20px 10px;
    background: rgba(0, 0, 0, 0.6);
}

.cat-list a {
    display: block;
    padding: 10px 5px;
    color: #fff;
}

/* first-screen sub-promot样式 */

.sub-promot > * {
    padding-left: 10px;
    text-align: center;
}

.quick-channel {
    background: #5f5750;
}

.quick-channel * {
    padding: 3px;
    color: #fff;
}

.icon {
    display: block;
    font-size: 1.5rem;
}

