.cute-form {
  padding: 0 35px;
}

.cute-form .key {
  display: inline-block;
  font-size: 16px;
  opacity: 0.7;
  margin-right: 10px;
}

.cute-form .val {
  font-size: 20px;
  font-weight: bolder;
}

.cute-form .edit {
  font-size: 15px;
  opacity: 0.6;
  cursor: pointer;
}

.cute-form .edit:hover {
  opacity: 0.8;
}

.cute-form label {
  display: block;
  margin-bottom: 5px;
  opacity: 0.8;
  color: #333;
  font-weight: bolder;
}

.cute-form input,
.cute-form button {
  border: 1px solid #ffc105;
}