/* 背景图设置 */
.first-screen {
    background-image: url(./first-screen.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 610px;
}

body {
    color: #fff;
}

/* 导航栏设置 */

.nav {
    padding-top: 30px;
}

.nav .left {
    width: 30%;
}

.nav .right {
    width: 70%;
}

.nav .logo,
.nav local {
    display: inline-block;
    vertical-align: middle;
}

.nav .logo {
    font-size: 200%;
}

.nav .local {
    padding: 5px;
    background: rgba(0, 0, 0, .1);
    border-radius: 30%;
    font-size: 80%;
}

.nav a {
    padding: 5px 3px;
    color: #fff;
}

.nav .user {
    margin-bottom: 4px;
    font-size: 80%;
}

.nav .link-group {
    font-size: 110%;
    font-weight: bold;
}

/* 首屏设置 */
.search-section {
    margin-top: 120px;
}

.search-section .title,
.search-section .sub-title,
.search-section .search-cat,
.search-section .search-box {
    display: block;
    text-align: center;
}

.search-section .title {
    font-size: 60px;
    padding: 5px;
}

.search-section .sub-title {
    font-size: 20px;
    margin-bottom: 30px;
}

.search-area .search-cat * {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    padding-right: 20px;
    margin-bottom: 12px;
}

.search-area .search-box input {
    width: 600px;
    height: 55px;
    padding: 5px;
}

.search-area .search-box button {
    height: 55px;
    background: #00ae66;
}
