* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    margin: 0;
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}

a {
    text-decoration: none;
    color: #111;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    text-align: center;
}

.row {
    font-size: 0;
}

.col {
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
}

.col.left {
    text-align: left;
}

.col.right {
    text-align: right;
}