<div class="row nav page">
    <div class="container">
        <div class="col-lg-2 logo"></div>
        <div class="col-lg-6 link-group">     
             <a href="#">小米手机</a>
             <a href="#">红米</a>
             <a href="#">电视</a>
             <a href="#">笔记本</a>
             <a href="#">盒子</a>
             <a href="#">新品</a>
             <a href="#">路由器</a>
             <a href="#">智能硬件</a>
             <a href="#">服务</a>
             <a href="#">社区</a>
        </div>
        <div class="col-lg-4 search-area">
            <form class="search">
                <input type="search">
                <button type="submit">搜索</button>
            </form>
            <div class="hot-cat">
                <span>红米Note 5</span>
                <span>小米MIX 2</span>
            </div>
        </div>
    </div>
</div>