/* 引入font-awesome */

@import url(http://weloveiconfonts.com/api/?family=fontawesome);
[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}

/* ==================== */

body {
    background: #f6f6f6;
}

/* nav 样式 */

.nav {
    background: #fff;
    width: 100%;
    padding: 3px 300px;
    margin-bottom: 15px;
    position: fixed;
    top: 0;
    left: 0;
}

.nav a,
.logo-area,
.search-area,
.search {
    display: inline-block;
    vertical-align: middle;
}

.nav a {
    color: #8590a6;
    font-size: 1.4rem;
}

.logo-area a {
    padding: 10px 15px;
}

#logo {
    color: #0084ff;
    font-size: 2.5rem;
}

.search-area {
    font-size: 0;
    padding: 10px;
}

.search {
    font-size: 1rem;
    padding: 10px;
    background: transparent;
    border: 1px solid #ccc;
    line-height: 1.1;
}

.search-area [type="search"] {
    border: 0;
    width: 200px;
}

.search-area [type="submit"] {
    display: inline-block;
    font-size: 1.4rem;
    padding: 10px;
    margin-left: 8px;
    color: #fff;
    background: #0084ff;
    border: 0;
    border-radius: 0.3rem;
}

.search-area [type="search"],
.search-area [type="submit"] {
    vertical-align: middle;
}

.nav .user * {
    font-size: 2rem;
    padding: 10px;
    vertical-align: middle;
}

.nav .avatar {
    height: 35px;
    width: 35px;
    background-image: url(../img/zhihu002.jpg);
    background-size: cover;
    margin-left: 13px;
}

/* main editor-tool样式 */

.main .editor-tool {
    background: #fff;
    padding: 10px 15px;
    margin-bottom: 15px;
}

.main .editor-tool * {
    display: inline-block;
    color: #1a1a1a;
    vertical-align: middle;
}

.main .editor-tool .tool {
    font-size: 1.3rem;
    padding: 5px 15px;
}

/* main content样式 */

.main .content-card {
    background: #fff;
    padding: 15px;
    margin-bottom: 15px;
}

.main .content-card>* {
    display: block;
    padding: 3px 5px;
    margin-bottom: 5px;
}

.main .content-card .text {
    line-height: 1.5;
}

.main .comment-tool>* {
    color: #1a1a1a;
    padding: 0 3px;
    margin-left: 10px;
}


