.article {
	padding-right: 15px;
	position: relative;
	top: 100px;
}

/*.article .title {
	font-size: 1.5rem;
}
*/
.article .text {
	line-height: 1.5;
	font-size: 1.2rem;
}

.article .text>* {
	margin-bottom: 5px;
}